@{
    Layout = null;
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<h3>Example of Table in MVC</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
         <th>Description</th>
        <th>Status</th>
        <th>Updates</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Education</td>
        <td>Education is important</td>
        <td>True</td>
        <td><button class="btn btn-success">Update</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Ai</td>
        <td>Ai is useful for students</td>
        <td>True</td>
        <td><button class="btn btn-success">Update</button></td>
    </tr>
    <tr>
        <td>3</td>
        <td>Cinema</td>
        <td>New Film is waiting</td>
        <td>True</td>
        <td><button class="btn btn-success">Update</button></td>
    </tr>
</table>
<button class="btn btn-warning">New Category</button>
<button class="btn btn-info">List of Category</button>
<button class="btn btn-danger">Explanation of Category</button>